
/* fondo */
body {
    background-image: url(./imgs/bg.jpg);
    background-size: cover;
    
}

/* titulo */
.titulo {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.3) ;
    border-radius: 10px;
    margin-top: 1px;
    margin-bottom: 1px;

}

/* los botones con link a otro html */
nav {
    display: flex;
    justify-content: center;
}
nav>ul {
    list-style-type: none;
    display: flex;
    gap: 10px;
}
.box{
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.2) ;
    width: 50px;
    height: 30px;
    border-radius: 15%;
    cursor: pointer;


}
.logo {
    width: 40%;
}


/* seleccion de pc, play y xbox */
.div-container1 {
    background-color: rgba(255, 255, 255, 0.2) ;
    align-items: flex-start;
    border-radius: 10px;
    display: flex;
    padding: 5px;
    margin: 100px;
    gap: 10px;
    margin-top: 10px;
}
.titulos {
    background-color: rgba(0, 0, 0, 0.4) ;
    margin: auto;
    padding: 5px;
    width: 200px;
    border-radius: 10%;
    cursor: pointer;
    text-align: center;
}


/* fotos para descargar */
.div-container2 {
    background-color: rgba(255, 255, 255, 0.5) ;
    border-radius: 12px;
    padding: 12px;
    margin: 200px;
    text-align: start;
    margin-top: 1px;


}
.imagen {
    width: 200px;
}
.button{
    background-color: rgba(166, 77, 249, 0.194);
}
.ul {
    list-style-type: none;
}



/* barra de desplazamiento */
::-webkit-scrollbar {
    width: 10px;
    border-color: black;
    border: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.798);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.4);
}