* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    background-image: url(../Imgs/Background.jpg);
    background-size: cover;
    flex-direction: column;
    align-items: center;
    background-position: center center;
    background-attachment: fixed;
}

.list {
    margin-top: 5rem;
    display: flex;
    list-style-type: none;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}


.img-personaje {
    width: 150px;
    border: 5px solid black;
    border-radius: 50%;
    margin: 1rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.img-personaje:hover {
    transform: scale(1.1);
    filter: brightness(1.2);
}

.img-logo {
    width: 300px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    padding-block-end: 1rem;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.container {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    background-color: rgba(44, 35, 35, 0.563);
    display: flex;
    width: 80%;
    padding: 40px;
    border-radius: 50px;
    justify-content: space-between;
    margin-bottom: 2rem;
}

p {
    color: aliceblue;
}

.p {
    color: black;
}

h1 {
    color: rgb(138, 138, 138);
}

.menu {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    width: 90%;
    height: 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-top: 2rem;
}

.fi{
    font-size: 30px;
    color: black;
}


 a{ 
    text-decoration: none;
 }
