* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../Imgs/Background.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list {
    display: flex;
    list-style-type: none;
    gap: 100px;
    justify-content: center;
}

.img-personaje {
    width: 150px;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50%;
}

.img-logo {
    width: 3000px;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
    padding-block-end: 10px;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.container {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    background-color: rgba(0, 0, 0, 0.226);
    display: flex;
    width: 80%;
    padding: 40px;
    border-radius: 50px;
    justify-content: space-between;
}

.menu {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    width: 90%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-block-start: 100px;
}

.fi{
    font-size: 30px;
    color: black;
}


.p {
    padding-block-end: 120px;
}